body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

h1 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 70px;
  color: #ffe23d;
}

h2 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  color: #eae0c8;
  font-weight: light;
  padding-bottom: 10px;
}

.top-container {
  background-image: linear-gradient(to right, #0abab5, #679267, #679267, #0abab5);
  padding-top: 100px;
  position: relative;
}

.bottom-container {
  background-image: linear-gradient(to right, #0abab5, #679267, #679267, #0abab5);
 background-color: #003366;
 padding: 50px 0 20px;
}

a {
  color: #d4af37;
  font-family: 'Trebuchet MS', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #eae0c8;
}

p {
  line-height: 2;
}

.credit{
  color:#ffd700;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  padding: 0 ;
}
